<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doyou.cvc">

    <application
        android:name=".WidgetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MenuMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ImgTxtMixtureActivity" />
        <activity android:name=".activity.RingViewActivity" />
        <activity android:name=".activity.taperchart.TaperChartActivity" />
        <activity android:name=".activity.taperchart.ContrastActivity" />
        <activity android:name=".activity.taperchart.ScrollTaperChartActivity" />
        <activity android:name=".activity.GradientLineActivity" />
        <activity android:name=".activity.LegendRingViewActivity" />
        <activity android:name=".activity.CircleProgressBarViewActivity" />
        <activity android:name=".activity.ShadowProBarActivity" />
        <activity android:name=".activity.GradientProBarScaleActivity" />
        <activity android:name=".activity.HalfCircleProViewActivity" />
        <activity android:name=".activity.MatrixViewActivity" />
        <activity android:name=".activity.GradientProBarActivity" />
        <activity android:name=".activity.ringview.DoubleTxtActivity" />
        <activity android:name=".activity.ringview.LegendActivity" />
        <activity android:name=".activity.HorScrollSelecteViewActivity" />
        <activity android:name=".activity.HorProBarActivity" />
        <activity android:name=".activity.SectionProBarActivity" />
        <activity android:name=".activity.WaveViewActivity" />
        <activity android:name=".activity.colorfilter.ColorMainActivity" />
        <activity android:name=".activity.colorfilter.ColorMatrixActivity" />
        <activity android:name=".activity.colorfilter.ColorHueActivity" />
        <activity android:name=".activity.touch.RefreshViewActivity" />
        <activity android:name=".activity.timeruler.TimeRulerActivity" />
        <activity android:name=".activity.animator.BmpOverturnActivity" />
        <activity
            android:name=".activity.CircleBtnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.touch.CustomScrollViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.sys.viewpager.ViewPagerTransformerActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>